.icon {
  display: flex;
}
.post_form {
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
  }
  .post_avatar {
    cursor: pointer;
    margin-top: 2px;
  }
  .post_input_title {
    margin-left: 40px;
    width: 90%;
    background-color: #e1e1e1;
    padding: 15px;
    border-radius: 30px;
    outline: none;
    border: none;
    color: #333333;
    font-size: 18px;
  }
  .post_input_text {
    margin-top: 30px;
    margin-left: 40px; 
    width: 90%;
    height: 400px;
    background-color: #e1e1e1;
    padding: 15px;
    border-radius: 30px;
    outline: none;
    border: none;
    color: #333333;
    font-size: 18px;
  }
  .post_addIcon {
    cursor: pointer;
    color: black;
  }
  .post_addIconLoaded {
    cursor: pointer;
    color: red;
  }
  .post_hiddenIcon {
    display: none;
  }
  .post_sendBtn {
    background-color: #00bfff !important;
    border: none !important;
    color: white !important;
    font-weight: 800 !important;
    text-transform: inherit !important;
    border-radius: 20px !important;
    width: 80px;
    height: 40px !important;
    margin-top: 10px!important;
    margin-left: 80% !important;
  }
  .post_sendDisableBtn {
    background-color: gray !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-top: 10px!important;
    margin-left: 80% !important;
    cursor: none !important;
  }

  @media screen and (max-width: 480px) {
    .post_form {
      padding-right: 40px;
    }
    .post_sendBtn {
      background-color: #00bfff !important;
      border: none !important;
      color: white !important;
      font-weight: 800 !important;
      text-transform: inherit !important;
      border-radius: 20px !important;
      width: 80px;
      height: 40px !important;
      margin-top: 20px;
      margin-left: 80% !important;
    }
    .post_sendDisableBtn {
      background-color: gray !important;
      border: none !important;
      color: white !important;
      font-weight: 900 !important;
      text-transform: inherit !important;
      border-radius: 30px !important;
      width: 80px;
      height: 40px !important;
      margin-top: 20px;
      margin-left: 80% !important;
      cursor: none !important;
    }  
  }